
.whole-discount-page-animation {
    animation: schrinkAndFade 0.3s forwards;
    transform-origin: 168.5px 740.5px;
}


.discount-page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FEF7EE;
    z-index: -3;
}

.discount-headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    text-align: right;
    color: #FEF7EE;
    position: absolute;
    top: 418px;
    left: 450px;
    font-weight: 600;
}

.discount-sticker-title {
    font-family: 'Caveat Brush', cursive;
    font-size: 38px;
    color: #FEF7EE;
    position: absolute;
    left: 105px;
    top: 620px;
    text-align: center;
    line-height: 40px;
}

.discount-scanQR {
    left: 104px;
    top: 920px;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #FEF7EE;
}

.purple-20 {
    color: #8C52FE;
    font-weight: 600;
}

.children-discount {
    left: 150px;
    top: 220px;
    position: absolute;
    width: 280px;
    height: 280px;
}

.discount-title-button {
    width: 245px;
    height: 245px;
    position: absolute;
    left: 46px;
    top: 618px;
    background-color: #FEA937;
    color: #FEF7EE;
    font-family: 'Caveat Brush', cursive;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    border-radius: 50%;
}