
@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100vw);
        opacity: 0;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100vw);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100vw);
        opacity: 0;

    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100vw);
        opacity: 0;

    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



@font-face {
    font-family: 'Quicksand';
    src: url('../../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}


.feedback-page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FEF7EE;
    z-index: -3;
}

.feedback-headline {
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
    text-align: right;
    color: #FEF7EE;
    position: absolute;
    top: 300px;
    left: 300px;
    font-weight: 600;
    animation: slideInRight 0.5s forwards;
}

.feedback-sticker-title {
    font-family: 'Caveat Brush', cursive;
    font-size: 38px;
    color: #FEF7EE;
    position: absolute;
    left: 105px;
    top: 620px;
    text-align: center;
    line-height: 40px;
}


.feedback-shape-line {
    left: -30px;
    top: 610px;
    position: absolute;
    z-index: -1;
}

.white-sticker1 {
    left: 495px;
    top: 821px;
    position: absolute;
}

.white-sticker2 {
    left: 495px;
    top: 1134px;
    position: absolute;
}

.white-sticker3 {
    left: 495px;
    top: 1434px;
    position: absolute;
}

.white-sticker1-transparent {
    left: 495px;
    top: 821px;
    position: absolute;
    z-index: 1;
}

.white-sticker2-transparent {
    left: 495px;
    top: 1134px;
    position: absolute;
    z-index: 1;
}

.white-sticker3-transparent {
    left: 495px;
    top: 1434px;
    position: absolute;
    z-index: 1;
}

.purple-element-feedback {
    left: 261.78px;
    top: 322px;
    width: 285.39px;
    height: 280.91px;
    position: absolute;
    animation: slideInLeft 0.5s forwards;
}

#not-a-fan {
    font-family: Quicksand, sans-serif;
    font-size: 45px;
    font-weight: 550;
    color: #8C52FE;
    position: absolute;
    left: 750px;
    top: 880px;
    z-index: 1;
}

#just-so-so {
    font-family: Quicksand, sans-serif;
    font-size: 45px;
    font-weight: 550;
    color: #8C52FE;
    position: absolute;
    left: 750px;
    top: 1190px;
    z-index: 1;
}

#i-love-it {
    font-family: Quicksand, sans-serif;
    font-size: 45px;
    font-weight: 550;
    color: #8C52FE;
    position: absolute;
    left: 750px;
    top: 1490px;
    z-index: 1;
}

.feedback-title-button {
    width: 245px;
    height: 245px;
    position: absolute;
    left: 46px;
    top: 618px;
    background-color: #FEA937;
    color: #FEF7EE;
    font-family: 'Caveat Brush', cursive;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    border: none;
    border-radius: 50%;
}