@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.point1, .point2, .point3 {
    opacity: 0;
}

.whole-secure-page-animation {
    animation: schrinkAndFade 0.3s forwards;
    transform-origin: 547.4px 733.5px;
}

.secure-page {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FEF7EE;
    z-index: -3;
}

.secure-headline1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    color: rgba(254, 247, 238, 0.85);
    font-weight: 700;
    left: 65px;
    top: 210px;
    position: absolute;
}

.secure-headline2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    color: rgba(254, 247, 238, 0.85);
    font-weight: 700;
    left: 190px;
    top: 310px;
    position: absolute;
}

.secure-headline2 .kinder {
    font-family: 'Caveat Brush', cursive;
    font-size: 130px;
    font-weight: normal;
}

.secure-title-button {
    left: 396px;
    top: 582px;
    text-align: center;
    width: 303px;
    height: 303px;
    position: absolute;
    border: none;
    border-radius: 50%;
    background-color: #70D7FF;
    color: #FEF7EE;
    font-family: 'Caveat Brush', cursive;
    font-size: 45px;
    line-height: 50px;
    font-weight: normal;
}

.secure-headline3 {
    left: 405px;
    top: 850px;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: #FEF7EE;
    text-align: right;
}

.point1 {
    width: 480px;
    height: 201px;
    left: 600px;
    top: 1220px;
    position: absolute;
    border-radius: 40px 0 0 40px;
    background: rgba(253, 247, 240, 0.95);
    font-family: Quicksand, sans-serif;
    color: #3FBFF0;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 133.333% */

    animation: slideInFromRight 0.5s ease-out forwards;
    animation-delay: 0.2s;
}

.text1 {
    text-align: right;
    right: 70px;
    bottom: 5px;
    position: relative
}

.point2 {
    width: 630px;
    height: 201px;
    left: 450px;
    top: 1465px;
    position: absolute;
    border-radius: 40px 0 0 40px;
    background: rgba(253, 247, 240, 0.95);
    font-family: Quicksand, sans-serif;
    color: #3FBFF0;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;

    animation: slideInFromRight 0.5s ease-out forwards;
    animation-delay: 0.5s;
}

.text2 {
    text-align: right;
    right: 70px;
    bottom: 5px;
    position: relative
}

.point3 {
    width: 950px;
    height: 152px;
    left: 130px;
    top: 1710px;
    position: absolute;
    border-radius: 40px 0 0 40px;
    background: rgba(253, 247, 240, 0.95);
    font-family: Quicksand, sans-serif;
    color: #3FBFF0;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;

    animation: slideInFromRight 0.5s ease-out forwards;
    animation-delay: 0.9s;
}

.text3 {
    text-align: right;
    right: 70px;
    bottom: 5px;
    position: relative
}

.orange-star1 {
    left: 769px;
    top: 488px;
    position: relative;
}

.orange-star2 {
    left: 0.26px;
    top: 700px;
    transform: rotate(-94.917deg);
    position: absolute;
}