
.begin-button {
    left: 404px;
    top: 1053px;
    position: absolute;
    /*background: linear-gradient(to right, #FFBA5D, #FD9100);*/
    background: linear-gradient(to right, #A87BFF 5%, #8C52FE 70%, #774AD0 100%);
    width: 280px;
    height: 280px;
    text-align: center;
    font-family: "Caveat Brush", cursive;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    color: #FEF7EE;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.25);

    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    --bubble-duration: 6s;
    animation-duration: var(--bubble-duration);
}