@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}


@keyframes bubbleGrowComment {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(15);
    }
}

.comment-button {
    left: 757px;
    top: 1132px;
    position: absolute;
    background: linear-gradient(to right, #70D7FF 5%, #3FBFF0 70%, #4AB2D9 100%);
    width: 262px;
    height: 262px;
    text-align: center;
    font-family: "Caveat Brush", cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 1px;
    color: #FEF7EE;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.25);

    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /*position: relative;*/
    --bubble-duration: 4s;
    animation-duration: var(--bubble-duration);
    /*--bubble-delay: 4s;*/
    /*animation-delay: var(--bubble-delay);*/
}

.comment-button-grow {
    animation: bubbleGrowComment 1s forwards;
    z-index: 10;
}

.comment-button-grow span {
    display: none;
    /*transform: scale(0.1)*/
}