
@keyframes bubbleGrowDiscount {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(4);
    }
}



.discount-button {
    left: 46px;
    top: 618px;
    position: absolute;
    /*background: linear-gradient(to right, #FFBA5D, #FD9100);*/
    background: linear-gradient(to right, #FFB34D 10%, #FD9100 95%, #F68D00 100%);
    width: 245px;
    height: 245px;
    text-align: center;
    font-family: "Caveat Brush", cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    color: #FEF7EE;
    text-decoration: none;
    border-radius: 50%;
    border: none;
    box-shadow: 20px 20px 50px 0 rgba(0, 0, 0, 0.25);

    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    --bubble-duration: 5s;
    animation-duration: var(--bubble-duration);
}

.discount-button-grow {
    animation: bubbleGrowDiscount 0.5s forwards;
    z-index: 10;
    transform-origin: center;
}

.discount-button-grow span {
    display: none;
    /*transform: scale(0.1)*/
}